.messenger {
  display: flex;
  align-items: stretch;
  height: 100vh;
  width: 100vw;
}

.messenger__menu {
  flex-shrink: 0;
  width: 300px;
  background: #263449;
  display: flex;
  flex-direction: column;
}

.messenger__logo {
  padding: 24px;
}

.messenger__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 43px 0;
}

.messenger__profile-image {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,0.24);
  padding: 7px;
}

.messenger__profile-name {
  margin-top: 10px;
  font-size: 20px;
  color: #FFFFFF;
}

.messenger__profile-email {
  margin-top: 2px;
  font-size: 14px;
  color: rgba(255,255,255,0.56);
}

.messenger__menu-chats {
  flex: 1;
  background: #2D3C55;
}

.messenger__chat {
  flex: 1;
}

.messenger__chat--not-selected {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0,0,0,.56);
}
