.messenger {
  display: flex;
  align-items: stretch;
  height: 100vh;
  width: 100vw;
}

.messenger__menu {
  flex-shrink: 0;
  width: 300px;
  background: #263449;
  display: flex;
  flex-direction: column;
}

.messenger__logo {
  padding: 24px;
}

.messenger__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 43px 0;
}

.messenger__profile-image {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,0.24);
  padding: 7px;
}

.messenger__profile-name {
  margin-top: 10px;
  font-size: 20px;
  color: #FFFFFF;
}

.messenger__profile-email {
  margin-top: 2px;
  font-size: 14px;
  color: rgba(255,255,255,0.56);
}

.messenger__menu-chats {
  flex: 1;
  background: #2D3C55;
}

.messenger__menu-chats-actions {
  padding: 16px 8px;
  width: 100%;
  opacity: .56;
  display: flex;
}

.messenger__menu-chats-search {
  width: calc(100% - 40px);
  font-size: 15px;
  padding: 6px;
  color: rgba(255,255,255,1);
  letter-spacing: 0.5px;
  border: 1px solid rgba(255,255,255,1);
  border-radius: 2px;
  background: none;
}

.messenger__menu-create-chat {
  margin-left: 8px;
  width: 32px;
  height: 32px;
  background: url('./img/create.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid rgba(255,255,255,1);
  border-radius: 2px;
  text-decoration: none;
}

.messenger__menu-chat {
  text-decoration: none;
  position: relative;
  height: 72px;
  width: 100%;
  padding: 8px;
  display: flex;
}

.messenger__menu-chat:hover {
  background: #2D4F60;
}

.messenger__menu-chat-peer-photo {
  position: relative;
  width: 56px;
  height: 56px;
  flex-shrink: 0;
}

.messenger__menu-chat-peer-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.messenger__menu-chat-peer-status {
  position: absolute;
  width: 16px;
  height: 16px;
  background: #319A57;
  border-radius: 50%;
  bottom: 0;
  right: 0;
}

.messenger__menu-chat-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 8px;
}

.messenger__menu-chat-peer-name {
  font-size: 16px;
  color: rgba(255,255,255,0.87);
}

.messenger__menu-chat-last-message {
  font-size: 14px;
  color: rgba(255,255,255,0.56);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 200px;
}

.messenger__menu-chat-last-message-date {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 12px;
  color: rgba(255,255,255,0.56);
}

.messenger__chat {
  flex: 1;
}

.messenger__chat--not-selected {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0,0,0,.56);
}
