.auth-form__body {
  padding: 10px 24px 24px;
}

.auth-form__description {
  margin-top: 16px;
  font-size: 14px;
  color: rgba(0,0,0,0.54);
  letter-spacing: 0.5px;
}

.auth-form__inputs {
  margin-top: 16px;
}

.auth-form__input {
  width: 100% !important;
}

.auth-form__buttons {
  display: flex;
  justify-content: flex-end;
  margin: 8px;
}
